@import "tailwindcss";

body {
  background: #171717;
  color: #ededed;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  cursor: none;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  width: 5px; /* vertical scrollbar */
  height: 10px; /* horizontal scrollbar */
}

/* Scrollbar track */
body::-webkit-scrollbar-track {
  background: #1e1e1e;
}

/* Scrollbar thumb (the part you drag) */
body::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 5px;
  border: 2px solid #1e1e1e; /* Optional: makes it look inset */
}

/* On hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

input,
textarea,
select {
  cursor: text !important;
}
button,
a {
  cursor: pointer !important;
}

.animated_text::after {
  content: "→";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.animated_text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.animated_text:hover::before {
  width: 100%;
}

.animated_text:hover::after {
  opacity: 1;
  right: -1.5rem;
}

button {
  color: #ededed;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.grid-cell {
  transition: all 0.3s ease-out;
  opacity: 0;
  background-color: transparent;
}

.grid-cell.highlight {
  opacity: 1;
  /* background-color: rgba(99, 102, 241, 0.1); */
  box-shadow: 0 0 8px rgba(99, 102, 241, 0.3);
  transform: scale(1.05);
  border-radius: 4px;
  border-color: rgba(99, 102, 241, 0.3);
}

.morebtn:hover {
  background-color: #fff;
  color: black;
  box-shadow: 0 0 8px rgba(99, 102, 241, 0.3);
  transform: scale(1.05);
  border-color: rgba(99, 102, 241, 0.3);
  transition: all 0.3s ease-out;
}

.snakeButton {
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  display: inline-flex;
}

.letter {
  display: inline-block;
}

/* Only trigger animation on hover */
.snakeButton:hover .letter {
  animation: wave 0.6s ease-in-out forwards;
}

/* Staggered wave motion */
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}
