@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0c0021;
}

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--background-color);
  font-family: 'Black Sansa Thin', sans-serif;
}

@font-face {
  font-family: 'Black Sansa Thin';
  src: url('/fonts/BlackSansaFree-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.hero-section {
  position: relative;
  background-image: url("/images/heroImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
